{% if consultant.status == 'resigned' %}
    <span class="badge badge-info">
        <i class="icon-signout"></i> {{ 'user_status.resigned'|trans }}
    </span>
{% elseif consultant.status == 'ic' %}
    <span class="badge badge-important">
        <i class="icon-warning-sign"></i> {{ 'user_status.ic'|trans }}
    </span>
{% else %}
    <span class="badge badge-success">
        <i class="icon-ok"></i> {{ 'user_status.placed'|trans }}
    </span>
{% endif %}