{% extends '::error_layout.html.twig' %}

{% block title %}Rhea - {{ 'http_errors.404.title'|trans }}{% endblock %}
{% block content %}
    <h2>{{ 'http_errors.404.title'|trans }}</h2>
    <div class="desc">
        {{ 'http_errors.404.message'|trans }}<br>
    </div>
{% endblock %}
