{% extends 'ExtiaGroupBundle:Admin:form.html.twig' %}

{% block current_breadcrumb %}
    <li class="active"><a href="#">{{ 'group.admin.breadcrumbs.new'|trans }}</a></li>
{% endblock %}

{% block form_header %}{{ 'group.admin.new.header'|trans }}{% endblock %}
