{% extends 'ExtiaUserBundle:AdminInternal:form.html.twig' %}

{% block current_breadcrumb %}
    <li class="active"><a href="#">{{ 'internal.admin.breadcrumbs.new'|trans }}</a></li>
{% endblock %}

{% block form_header %}{{ 'internal.admin.new.header'|trans }}{% endblock %}
