{% if tasks.empty == false %}
    <div class="box past_tasks">
        <div class="tab-header"><i class="icon-warning-sign"></i> {{ 'past_tasks_header'|trans }}</div>
        <ul class="">
            {% for task in tasks %}
                {% include 'ExtiaTaskBundle:Task:Boxes/task_element.html.twig' with { 'task': task } only %}
            {% endfor %}
        </ul>
    </div>
    {% for task in tasks %}
        {% include 'ExtiaTaskBundle:Task:task_modal.html.twig' with { 'task': task } only %}
    {% endfor %}
{% endif %}
