{% extends 'ExtiaTaskBundle:Workflow:modal.html.twig' %}

{% block modal_body %}
    <p class="form_hook">{{ 'lunch.appointement.hook'|trans }}</p>
{% endblock %}

{% block modal_form %}

    {{ form_rest(form) }}

    <div class="separator"></div>
{% endblock %}
