{% if task.node.type.supportsAction('modal') %}
    <div id="task_{{ task.id }}" class="black-box modal hide fade">
        {{ render(controller(task.node.type.action('modal'), { 'task' : task })) }}
    </div>
{% endif %}
