<div class="box today_tasks">
    <div class="tab-header"><i class="icon-folder-open-alt"></i> {{ 'today_tasks_header'|trans }}</div>
    <ul class="">
        {% for task in tasks %}
            {% include 'ExtiaDashboardBundle:Task:task_element.html.twig' with { 'task': task } only %}
        {% else %}
        <li class="no-tasks">
            <h4 class="text-success"><i class="icon-ok"></i> {{ 'today_no_task_congrats'|trans }}</h4>
            <p><em>{{ 'today_no_tasks_text'|trans }}</em></p>
        </li>
        {% endfor %}
    </ul>
</div>
{% for task in tasks %}
    {% include 'ExtiaDashboardBundle:Task:task_modal.html.twig' with { 'task': task } only %}
{% endfor %}
