<ul>
    <li><i class="icon-comment-alt"></i> {{ clt.email }}</li>
    {% if clt.telephone %}<li><i class="icon-phone"></i> {{ clt.telephone }}</li>{% endif %}
    {% if clt.mobile %}<li><i class="icon-mobile-phone"></i> {{ clt.mobile }}</li>{% endif %}
</ul>
