{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {# adds mission admin js only for those templates, out of Assetic #}
    <script type="text/javascript" src="{{ asset('bundles/extiamission/js/admin.js') }}"></script>
{% endblock %}

{% block body_class 'mission-admin' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        {% block inactive_breadcrumb %}
            <li><a href="{{ path('MissionBundle_mission_admin_list') }}"><i class="icon-eur"></i> {{ 'menu.missions'|trans }}</a></li>
        {% endblock %}
        {% block current_breadcrumb %}{% endblock %}
    </ul>
{% endblock %}

{% block content %}
    {% block content_top %}{% endblock content_top %}
    <div class="row-fluid">
        <div class="span9">
            {% block main %}{% endblock main %}
        </div>
        <div class="span3">
            {% block sidebar %}{% endblock sidebar %}
        </div>
    </div>
{% endblock content %}
