{% extends 'ExtiaUserBundle:AdminConsultant:form.html.twig' %}

{% block current_breadcrumb %}
    <li class="active"><a href="#">{{ 'consultant.admin.breadcrumbs.new'|trans }}</a></li>
{% endblock %}

{% block form_header %}{{ 'consultant.admin.new.header'|trans }}{% endblock %}
