{% extends 'ExtiaTaskBundle:Workflow:modal.html.twig' %}

{% block modal_body %}
    <p class="form_hook">{{ 'annual_review_initiation.form.hook'|trans }}</p>
{% endblock %}

{% block modal_form %}
    {{ form_row(form.workflow.name) }}
    {{ form_row(form.workflow.description) }}
    {{ form_rest(form) }}

    <div class="separator"></div>
{% endblock %}
