{% extends 'ExtiaUserBundle:Internal:list.html.twig' %}

{% block internal_action %}
    <a class="button" href="{{ path('extia_user_crh_edit', internal.routing) }}">
        <i class="icon-pencil"></i>
    </a>
    {#<a class="button" href="{{ path('extia_user_internal_delete', { 'id': internal.id }) }}">#}
    {#<i class="icon-remove"></i>#}
    {#</a>#}
{% endblock %}
