{% spaceless %}
<div class="notif_content">
    <div class="text-info">
        <p><i class="icon-info"></i></p>
    </div>
    <div class="">
        <div class="inner">{{ notif }}</div>
    </div>
</div>
{% endspaceless %}
