{% spaceless %}
<div class="notif_content">
    <div class="text-success">
        <p><i class="icon-ok"></i></p>
    </div>
    <div class="">
        <p>{{ notif }}</p>
    </div>
</div>
{% endspaceless %}
