{% spaceless %}
<div class="notif_content">
    <div class="picto text-warning"><i class="icon-warning-sign"></i></div>
    <div class="text">
        <p class="notif-head text-warning">{{ 'warning_title'|trans }}</p>
        <p>{{ notif }}</p>
    </div>
</div>
{% endspaceless %}
