<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Easytask Theme bundle</title>
    </head>
    <body>
        <h1>Layout</h1>
        {% block content %}{% endblock content %}
    </body>
</html>
