<blockquote>
    <p><em>{{ comment.person.longName }} <small>{{ comment.createdAt|date('datetime_format.mdhi'|trans) }}</small></em></p>
    <p>{% autoescape false %}{{ comment.text }}{% endautoescape %}</p>
</blockquote>
