<div class="comment_list">
{% for comment in task.comments %}
    {% include 'ExtiaCommentBundle:Comment:element.html.twig' %}
{% endfor %}
</div>
<div class="add_comment pull-right" {% if task.comments|length < 1 %}style="display:none;"{% endif %}>
    <ul class="btn-group">
        <li><a class="button" data-form-comment-open><i class="icon-comment-alt"></i> {{ 'comment.form.show'|trans }}</a></li>
    </ul>
</div>
<div class="comment_form" {% if task.comments|length > 0 %}style="display:none;"{% endif %}>
    <blockquote>
        {{ render(controller('ExtiaCommentBundle:Comment:form', { 'task_id': task.id })) }}
    </blockquote>
</div>
