{% extends 'ExtiaTaskBundle:Workflow:modal.html.twig' %}

{% block modal_body %}
    {% set clt = task.target('consultant') %}
    <p class="form_hook">{{ 'annual_review.annual_meeting.form.hook'|trans }}</p>
    {% include 'ExtiaUserBundle:Badges:consultant.html.twig' with { 'with_contact': true, 'clt': clt.consultant } only %}
{% endblock %}

{% block modal_form %}
    {{ form_rest(form) }}

    <div class="separator"></div>
{% endblock %}
