{% extends '::base.html.twig' %}

{% block content %}
    <h2>{{ user.firstname|capitalize }} {{ user.lastname|capitalize }} Timeline</h2>

    {{ render(controller('EasyTaskWorkflowBundle:Workflow:form')) }}

{% endblock content %}
