{#{% if is_granted('MISSION_CREATION', app.user) %}#}
    <div id="new_mission" class="black-box modal hide fade">
        <div class="modal-header tab-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span>{{ 'mission.admin.content.box'|trans }}</span>
        </div>
        {{ render(controller('ExtiaMissionBundle:Mission:new')) }}
    </div>
{#{% endif %}#}
