<p class="task_completion_info">
    {% if task.isCompleted == true %}
        {% if task.pastDays > 0 %}
            <span class="label label-info">
                <i class="icon-info"></i> {{ 'task.handle_retard_of'|transchoice(task.pastDays, {'%retard%' : task.pastDays}) }}
            </span>
        {% endif %}
    {% else %}
        {{ 'task.handle_limit'|trans }} <span class="data">{{ task.completionDate(('date_format.ymd'|trans)) }}</span>.
        {% if task.pastDays > 0 %}
            <br />
            <span class="label label-important">
                <i class="icon-warning-sign"></i> {{ 'task.retard_of'|transchoice(task.pastDays, {'%retard%' : task.pastDays}) }}
            </span>
        {% endif %}
    {% endif %}
</p>
