{% if task.status == 'planed' %}
    <span class="badge badge-warning">
        <i class="icon-calendar"></i> {{ 'task.status.planed'|trans }}
    </span>
{% elseif task.status == 'past' %}
    <span class="badge badge-important">
        <i class="icon-warning-sign"></i> {{ 'task.status.past'|trans }}
    </span>
{% else %}
    <span class="badge badge-success">
        <i class="icon-ok"></i> {{ 'task.status.handled'|trans }}
    </span>
{% endif %}
