/* ---------------- */
/* header           */
/* ---------------- */

.navbar {
    margin:0px;
}
.navbar-inner {
    border-radius: 0px;
}

/* ---------------- */
/* menu bar         */
/* ---------------- */
nav#secondary {
    width: 240px;
}

nav.main-nav > ul {
    height: auto;
    margin-bottom: 20px;
    border-top: 1px solid #1D1E21;
}

.profile-menu {
    height: auto;
}
.profile-menu .tabular > div {
    padding: 5px 10px;
}
.profile-menu .tabular > div, .profile-menu .tabular p.avatar{
    display: table-cell;
    vertical-align: middle;
}
.profile-menu .user_actions {
    float: right;
    margin-top: 9px;
}

/* ---------------- */
/* notifications    */
/* ---------------- */

.notif_content {
    width: 100%;
}
.notif_content > div {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}
.notif_content .picto {
    min-width: 50px;
    max-width: 50px;
    font-size: 30px;
    text-align: center;
    padding-right: 0px;
}
.notif_content .text {
    text-align: left;
    padding-right: 20px;
}
.notif_content p{
    margin: 0px;
}
.notif_content .notif-head{
    font-weight: bold;
    font-size: 1.1em;
}

/* ---------------- */
/* tasks            */
/* ---------------- */
li.padded.task {
    padding: 0px 20px 20px;
}
li.no-tasks {
    padding: 5px 20px 5px 20px;
}
.modal .task-data {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    padding: 20px;
}
.modal .task-data .head {
    font-size: 18px;
    font-weight: bold;
}

/* ---------------- */
/* forms            */
/* ---------------- */
label.required:after{
    content:" *";
    position:relative;
}
#bootstrap_form_next_date_control_group .controls,
#meeting_form_next_meeting_control_group .controls {
    margin-top: 10px;
}
#appointement_form_meeting_date input {
    margin: 3px 3px;
}
