/* ---------------- */
/* header           */
/* ---------------- */
.navbar {
    margin:0px;
}
.navbar-inner {
    border-radius: 0px;
}

/* ---------------- */
/* app override     */
/* ---------------- */
.button i {
    font-size: 14px;
}
.button.large {
    min-width: auto;
    width: 110px;
}
.button.large span {
    white-space: normal;
}
.breadcrumb li.active a, .breadcrumb li.active a:hover {
    background: -moz-linear-gradient(center top , #ECECEC, #C5C5C5) repeat scroll 0 0 / 100% auto #C5C5C5;
    color: #35353C;
    text-shadow: 0 1px 1px rgba(248, 248, 248, 0.5);
}
.row-fluid [class*="span"] {
    min-height: auto;
}
.badge {
    color: white;
    border: 0px solid #989898;
    box-shadow: 0 0px 0 white;
    text-shadow: 0 0px rgba(255, 255, 255, 0.5);
    padding: 2px 9px;
}
.label-important, .badge-important {
    background-color: #B94A48;
}
.label-success, .badge-success {
    background-color: #468847;
}
.label-warning, .badge-warning {
    background-color: #F89406;
}
.label-info, .badge-info {
    background-color: #3A87AD;
}

/* ---------------- */
/* menu bar         */
/* ---------------- */
nav#secondary {
    width: 240px;
}

nav.main-nav > ul {
    height: auto;
    margin-bottom: 20px;
    border-top: 1px solid #1D1E21;
}

.profile-menu {
    height: auto;
}
.profile-menu .tabular > div {
    padding: 5px 10px;
}
.profile-menu .tabular > div, .profile-menu .tabular p.avatar{
    display: table-cell;
    vertical-align: middle;
}
.profile-menu .user_actions {
    float: right;
    margin-top: 9px;
}

/* ---------------- */
/* notifications    */
/* ---------------- */

.notif_content {
    width: 100%;
}
.notif_content > div {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}
.notif_content .picto {
    min-width: 50px;
    max-width: 50px;
    font-size: 30px;
    text-align: center;
    padding-right: 0px;
}
.notif_content .text {
    text-align: left;
    padding-right: 20px;
}
.notif_content p{
    margin: 0px;
}
.notif_content .notif-head{
    font-weight: bold;
    font-size: 1.1em;
}

/* ---------------- */
/* tasks            */
/* ---------------- */
.box-body {
    padding: 10px 20px 20px;
}

li.padded.task {
    padding: 0px 20px 20px;
}
li.no-tasks {
    padding: 5px 20px 5px 20px;
}
.modal .task-data {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    padding: 20px;
}
.user-badge {
    margin-top:5px;
    width:150px;
}
.user-badge > div {
    display: table-cell;
    vertical-align: middle;
}
.user-badge div+div {
    padding-left: 5px;
}
.comments {
    display: none;
}
.comments blockquote{
    padding:3px 10px 10px 10px ;
    margin: 1px 0px 0px 15px;
    border-left: 5px solid lightgrey;
    border-top: 1px dotted lightgrey;

}
.comments blockquote p:first-child{
    color: #999999;
    line-height: 20px;
}
.comments blockquote small {
    display: inline-block;
}
.comments .add_comment {
    text-align: right;
    padding-right: 10px;
}
.comments form {
    margin-bottom: 0px;
}
.comments form textarea {
    width: 100%;
    height: 100px;
}
.comments form {
    text-align: right;
}

/* ---------------- */
/* users            */
/* ---------------- */
.gravatar {
    margin-right: 10px;
}
.user-details .gravatar {
    margin-top: 5px;
}
.user-details .data > div {
    vertical-align: top;
    display: inline-block;
    margin-top: 20px;
}
.user-details .data h5 {
    margin: 0px; padding: 0px;
}
.user-details .status {
    margin-top: 10px;
}

.clt-badge h4 a:hover {
    color: #CCCCCC !important;
}

/* ---------------- */
/* timeline         */
/* ---------------- */
.timeline_scrubber {
    color: #F1F1F1;
    text-shadow: 2px 2px #666666;
    text-align: left;
    font-size: 14px;
    padding-top: 6px;
}
.timeline_scrubber a {
    display: inline-block;
    color: inherit;
    border-left: solid 4px #F1F1F1;
    padding-left: 10px;
}
.timeline_scrubber > li {
    margin-bottom: 10px;
    box-shadow: -10px 0 5px -9px #666666;
}
.timeline_scrubber ul {
    font-size: 12px;
}
.timeline_scrubber ul li {
    line-height: 16px;
}
.timeline_scrubber ul li a {
    padding-left: 20px;
}


.task_timeline .date-separator {
    color: #F1F1F1;
    text-shadow: 2px 2px #666666;

    font-size: 14px;
    font-weight: lighter;
    height: 32px;
    line-height: 32px;
    margin-bottom: 5px;
}
.task_timeline .date-separator.month-separator {
    font-style: italic;
}
.task_timeline .date-separator.year-separator {
    font-size: 18px;
    border-bottom: 1px solid #F1F1F1;
    box-shadow: 0 10px 10px -8px #666666;
}
.task_timeline .default {
    font-size: 14px;
    color: #999999;
    font-style: italic;
}

/* ---------------- */
/* forms            */
/* ---------------- */
form {
    margin-bottom: 0px;
}
.task_modal .form_hook {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 0 20px 10px;
}
.task_modal .task-data .form_hook {
    padding-left: 0px;
}
.task_modal form .field {
    padding: 20px;
}
.task_modal form.form-horizontal .field {
    padding: 0px;
}
.task_modal form .field label {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}
.task_modal form .field div > div {
    display: inline-block;
    float: none;
}

label.required:after{
    content:" *";
    position:relative;
}
#bootstrap_form_next_date_control_group .controls,
#meeting_form_next_meeting_control_group .controls {
    margin-top: 10px;
}
#appointement_form_meeting_date input {
    margin: 3px 3px;
}


/* ---------------- */
/* ajax             */
/* ---------------- */
div#ajaxWaiter {
    position: absolute; top: 0; left: 0; width:100%;
    background-color: black; opacity: 0.7; z-index:100000;
}

div#ajaxWaiterConteneur {
    position: absolute; top: 0; left: 0; z-index:100001;
    width:150px; height:80px; padding-top: 10px;
    background: repeat-x scroll 50% 50% #333333;
    border: 1px solid #333333; border-radius:6px;
    font-style:italic; font-size: 1.2em; font-weight: bold;
    color: white; text-align: center;
}

div#ajaxWaiterConteneur img {
    margin-bottom:5px;
}
