{% extends '::base.html.twig' %}

{% block top_nav %}
<div class="container-fluid">
    <div class="row-fluid search-button-bar-container">
        <div class="span12">
            <form>
                <input type="text" placeholder="Search..." class="search">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
<div id="new_task" class="black-box modal hide fade">
    <div class="modal-header tab-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span>{{ 'new_task'|trans }}</span>
    </div>
    {{ render(controller('EasyTaskWorkflowBundle:Workflow:form')) }}
</div>
{% endblock %}

{% block sidebar %}
<div class="row-fluid">
    <div class="span12">
        <div style="margin-bottom: 20px;">
            <div class="big-button-bar">
                <a href="#new_task" class="button large" role="button" data-toggle="modal">
                    <i class="icon-calendar"></i>
                    <span>{{ 'new_task_link' }}</span>
                </a>
                <a href="#" class="button large">
                    <i class="icon-code"></i>
                    <span>{{ 'new_consultant_link' }}</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
