{% extends 'ExtiaTaskBundle:Dashboard:user_dashboard.html.twig' %}

{% block modal %}
    {{ parent() }}
    <div id="current_task_{{ task.id }}" class="black-box modal fade hide">
        {% include 'ExtiaWorkflowCrhMonitoringBundle:Bootstrap:modal.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#current_task_{{ task.id }}').modal();
        });
    </script>
{% endblock %}
