<div class="row-fluid">
    <div class="span6">
        <p>Nombre d'internes : </p>
        <p>Nombre de consultants : </p>
        <p class="subData">En mission : </p>
        <p class="subData">En intercontrat : </p>
        <p class="subData">Insatisfaits : ? @TODO</p>
    </div>
    <div class="span6">
        awd
    </div>
</div>