{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="#"><i class="icon-bug"></i> {{ 'consultants'|trans }}</a></li>
        <li><a href="#">{{ user.longname }}</a></li>
        <li class="active"><a href="#">{{ 'user_timeline.breadcrumbs.timeline'|trans }}</a></li>
    </ul>
{% endblock %}
