{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="#"><i class="icon-bug"></i> {{ 'consultants'|trans }}</a></li>
        <li><a href="#">{{ user.longname }}</a></li>
        <li class="active"><a href="#">{{ 'user_timeline_breadcrumb'|trans }}</a></li>
    </ul>
{% endblock %}

{% block main %}
    {% block user_details %}{% endblock %}
    <div class="row-fluid">
        <div class="span12">
            {{  render(controller('ExtiaTaskBundle:Timeline:tasksTimeline',
                    { 'task_collection': tasks, '_task_redirect_url': app.request.server.get('REQUEST_URI') }))
            }}
        </div>
    </div>
{% endblock main %}
